@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200&display=swap');

:root {
  --primary: #363f45;
  --secondary: #21d07a;
  --white: #fff;
  --newColor: #ee6352;
  --backgroundColor: #dddedf;
  --maintmdb: #0d253f;
}

body {
  font-family: 'Poppins', sans-serif;
  padding: 0;
  margin: 0;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  background-color: var(--backgroundColor);
  height: 50px;
  width: 100%;
}

footer .footer-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 20px;
  padding: 4px 10px;
  margin-right: 10px;
  color: var(--white);
  background-color: #0d253f;
}

footer span {
  text-align: center;
  margin-right: 10px;
  font-weight: 200;
  font-style: italic;
  font-size: 0.6rem;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border: none;
  padding: 10px 15px;
  color: var(--primary);
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 5px;
  background: var(--backgroundColor);
  -webkit-box-shadow: 5px 5px 10px #bcbdbe, -5px -5px 10px #feffff;
  box-shadow: 5px 5px 10px #bcbdbe, -5px -5px 10px #feffff;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  line-height: 1.1;
}

.btn:hover,
.btn:active,
.btn.active {
  -webkit-box-shadow: inset 5px 5px 10px #bcbdbe, inset -5px -5px 10px #feffff;
  box-shadow: inset 5px 5px 10px #bcbdbe, inset -5px -5px 10px #feffff;
  opacity: 1;
  cursor: pointer;
}

.btn:disabled {
  pointer-events: none;
  opacity: 0.5;
}

input:focus {
  outline: none;
}

/* Header Styles */
header {
  background-color: var(--backgroundColor);
}

header .inner-content {
  padding: 10px 0;
}

header a {
  color: var(--primary);
  font-size: 1rem;
  text-decoration: none;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

header a:hover {
  opacity: 0.7;
}

header .brand {
  display: none;
}

header .nav-links {
  padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.nav-links--item {
  padding: 5px 10px;
  border-radius: 20px;
}

.nav-links--item:hover,
.nav-links--item:active,
.nav-links--item.active {
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.7);
  color: var(--white);
}

/* Add Page */
.pagination {
  padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.pagination-links {
  margin: 0 3px;
}

.pagination-links button {
  outline: none;
  padding: 1px;
  border: 1px solid var(--newColor);
  border-radius: 50%;
  height: 32px;
  width: 32px;
  font-size: 0.9rem;
  cursor: pointer;
  background-color: var(--white);
}

.pagination-links.active button {
  pointer-events: none;
  color: var(--white);
  background-color: var(--newColor);
  font-weight: 700;
}

.pagination-links .btn-page {
  border: none;
  vertical-align: middle;
}

.add-content {
  min-height: calc(100vh - 114px);
  padding: 50px 0;
}

.add-content .input-wrapper {
  max-width: 600px;
  margin: 0 auto;
}

.search-bar {
  --size: 60px;
  border: 2px solid var(--newColor);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 30px;
  height: var(--size);
  width: var(--size);
  padding: 3px;
  position: relative;
  -webkit-transition: width 300ms cubic-bezier(0.18, 0.89, 0.32, 1.15);
  -o-transition: width 300ms cubic-bezier(0.18, 0.89, 0.32, 1.15);
  transition: width 300ms cubic-bezier(0.18, 0.89, 0.32, 1.15);
  overflow: hidden;
}

.search-bar:focus-within {
  width: 100%;
}

.search-bar__input {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  font-size: 1.5rem;
  padding: 0 0.5em;
  border: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  line-height: calc(var(--size) - 3px);
  opacity: 0;
  cursor: pointer;
  -webkit-appearance: none;
}

.search-bar__input:focus {
  outline: 0;
}

.search-bar__input:focus-within {
  opacity: 1;
  cursor: initial;
  width: calc(100% - var(--size));
}

.search-bar__submit {
  color: var(--primary);
  font-size: 1.5rem;
  padding: 0;
  line-height: 0;
  cursor: pointer;
  border: 0;
  background-color: transparent;
  border-radius: 50%;
  width: calc(var(--size) - 10px);
  height: calc(var(--size) - 10px);
  margin-left: auto;
  -webkit-transition: background 150ms ease-in-out;
  -o-transition: background 150ms ease-in-out;
  transition: background 150ms ease-in-out;
}

.search-bar:focus-within .search-bar__submit {
  background: var(--newColor);
  color: var(--white);
}

.search-bar__submit:focus,
.search-bar__submit:hover {
  outline: 0;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
}

.results {
  padding: 0;
  margin-top: 20px;
}

.results li {
  list-style: none;
}

.result-card {
  margin-bottom: 20px;
}

.result-card .poster-wrapper img,
.filler-poster {
  height: 300px;
  width: 200px;
  background-color: #dbdada;
  border-radius: 5px;
  margin: 0 auto;
  display: block;
  color: transparent;
}

.result-card .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.result-card .info .title {
  font-size: 1.25rem;
  color: var(--primary);
  font-weight: 600;
  margin: 0;
}

.result-card .info .release-date {
  font-size: 1.25rem;
  font-weight: 300;
  color: var(--primary);
  margin: 0;
}

.result-card .info .overview {
  font-size: 0.8rem;
  font-weight: 300;
  text-align: justify;
  text-justify: inter-word;
  color: var(--primary);
  margin: 0;
}

.result-card .controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.result-card .controls button {
  margin-top: 10px;
}

/* Movie Page */
.movie-page {
  min-height: calc(100vh - 114px);
  padding: 30px 0;
}

.movie-page .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 30px;
}

.count-pill {
  display: block;
  background-color: var(--secondary);
  padding: 5px 15px;
  font-size: 1.125rem;
  font-weight: 600;
  border-radius: 20px;
  color: var(--primary);
}

.movie-page .heading {
  font-size: 1.5rem;
  color: var(--primary);
  margin: 0;
}

.movie-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 30px 1fr;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

.movie-card {
  width: 100%;
  position: relative;
  display: block;
}

.movie-card img {
  border-radius: 7px;
  width: 100%;
  display: block;
}

.movie-card .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  border: 2px solid transparent;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.movie-card:hover .overlay {
  border: 3px solid var(--secondary);
}

.movie-card .inner-card-controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  height: 34px;
  width: 74px;
  position: absolute;
  bottom: 20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  background: rgba(0, 0, 0, 0.8);
  border-radius: 5px;
  opacity: 0;
  z-index: -1;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.movie-card:hover .inner-card-controls {
  z-index: 0;
  opacity: 1;
}

.ctrl-btn {
  color: #fefefe;
  background-color: transparent;
  border: none;
  outline: none;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  font-size: 1.6rem;
  padding: 0 5px;
  margin: 0;
}

.ctrl-btn:hover {
  color: var(--secondary);
  cursor: pointer;
}

.movie-page .no-movies {
  color: #c4c4c4;
  font-size: 3rem;
  text-align: center;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }

  header .inner-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  header a {
    font-size: 1.25rem;
  }

  header .brand {
    display: block;
  }

  header .brand a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  header .nav-links {
    -webkit-box-pack: unset;
    -ms-flex-pack: unset;
    justify-content: unset;
  }

  header .nav-links li {
    margin-right: 30px;
  }

  header .nav-links li:last-child {
    margin-right: 0;
  }

  .result-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .result-card .poster-wrapper img,
  .filler-poster {
    width: 150px;
    height: 226px;
    background-color: #dbdada;
    border-radius: 5px;
    margin-right: 15px;
    display: block;
    color: transparent;
  }

  .result-card .controls {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: unset;
    -ms-flex-pack: unset;
    justify-content: unset;
  }

  .result-card .controls button {
    margin-right: 10px;
    margin-top: 0;
  }

  .movie-grid {
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: repeat(3, 1fr);
  }

  .movie-page .heading {
    font-size: 2rem;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }

  .movie-grid {
    -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: repeat(5, 1fr);
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
  .results {
    width: 1000px;
    margin-right: auto;
    margin-left: auto;
  }
}
